* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 15px 20px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__burger {
    cursor: pointer;
}

.nav__close {
    position: absolute;
    right: 0;
    display: none;
}

.header__nav-secondary {
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    margin: 35px auto 0 auto;
    width: 85%;
    padding: 25px 0;
    border-radius: 5px;
    display: none;
}

.header__btn {
    background-color: hsl(136, 65%, 51%);
    width: fit-content;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    display: none;

}

.active {
    display: block;
}

.disappear {
    display: none;
}

.nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.nav__links > div:hover {
    cursor: pointer;
}

.hero {
    width: 100%;
    margin-top: 54px;
    position: relative;
    background-color: white;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    
}

.hero__image1 {
    width: 100%;
}

.hero__image1 img {
    width: 100%;
    object-fit: cover;
}

.hero__image2 {
    width: 100%;
    position: absolute;
    top: -50px;
    padding: 0 15px;
    z-index: 2;
}

.hero__image3 {
    display: none;
}

.hero__image2 img {
    width: 100%;
    object-fit: cover;
}

.hero__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: -30px;
}

.hero__info-headline {
    font-size: 2.6rem;
    font-weight: 300;
}

.hero__info-details {
    line-height: 1.6rem;
    padding: 0 25px;
    color: hsl(233, 8%, 62%);
}

.hero__info-btn {
    background-color: hsl(136, 65%, 51%);
    width: fit-content;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    margin-top: 10px;
}

.hero__info-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.perks {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 65px 25px 65px 25px;
}

.perks__cta {
    text-align: center;
    align-items: center;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cta__title {
    font-size: 1.7rem;
    font-weight: 300;
}

.cta__summary {
    line-height: 1.7rem;
    color: hsl(233, 8%, 62%);
}

.perks__perk-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.perks__perk {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.perk__title {
    font-size: 1.2rem;
    font-weight: 300;
}

.perk__details {
    color: hsl(233, 8%, 62%);
    line-height: 1.6rem;
}

.articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    padding: 100px 25px;
    background: linear-gradient(white 0%, hsl(0, 0%, 98%) 30%);
}

.articles__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.articles__title {
    text-align: center;
    font-weight: 300;
    font-size: 1.7rem;
}

.articles__article {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 5px;
    gap: 10px;
}

.article__image {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.article__image img {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.article__author {
    font-size: 0.8rem;
    color: hsl(233, 8%, 62%);
    margin-top: 15px;
    padding: 0 25px;
}

.article__title {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0 25px;
    width: 100%;
}

.article__info {
    color: hsl(233, 8%, 62%);
    line-height: 1.3rem;
    padding: 0 25px 50px 25px;
}

.footer__section {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    font-weight: 300;
    color: white;
    padding: 50px 0;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 100%; */
    width: fit-content;
    align-items: center;
    text-align: center;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__links p:hover {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

.footer__btn {
    background-color: hsl(136, 65%, 51%);
    width: fit-content;
    padding: 15px 35px;
    border-radius: 25px;
    font-weight: 400;
}

.footer__btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer__copyright {
    color: hsl(233, 8%, 62%);
}

@media screen and (min-width: 768px){
    .header__nav-secondary {
        display: block;
        position: static;
        margin: 0;
        padding: 0;
        width: min(40%, 400px);
    }
    
    .nav__links {
        flex-direction: row;
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .header__burger {
        display: none;
    }

    .header__nav-main {
        width: fit-content;
    }

    .header__logo {
        width: fit-content;
    }

    .header__btn {
        display: block;
    }
}

@media screen and (min-width: 1000px){
    .header {
        padding: 15px 11%;
    }

    .hero__image1 {
        display: none;
    }

    .hero__image2 {
        width:40%;
        right: -100px;
        padding: 0;
        top: 0;
    }

    .hero__image3 {
        display: block;
        /* position: absolute; */
        position: relative;

        width: 100%;
        order: 2;
        right: -100px;
        top: 45px;
    }

    .hero__image3 img {
        width: 100%;
        object-fit: cover;
    }
    

    .hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 0 0 11%;
    }

    .hero__info {
        margin: 0;
        text-align: left;
        align-items: baseline;
        width: 60%;
        padding: 0
    }

    .hero__info-details {
        padding: 0;
    }

    .perks {
        padding: 80px 11%;
        align-items: baseline;
        text-align: left;
        
    }

    .perks__cta {
        align-items: baseline;
        text-align: left;
        width: 58%;
        margin: 0 0 30px 0;
    }

    .perks__perk-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .perks__perk {
        align-items: baseline;
        text-align: left;
    }

    .articles__title {
        text-align: left;
    }

    .articles__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}